<!DOCTYPE html>
<html lang="en" id="MAPSTRACTION" class="no-js">
<head>
  <meta charset="utf-8">
  <meta name="Javascript mapping abstraction library" content="">
  <meta name="mapstraction" content="">
  <link rel="stylesheet" href="/css/global.css" type="text/css" media="screen" title="">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <title>Mapstraction - {{ page.title }}</title>
</head>
<body>

  <div id="pagewrapper">
    <h1><a href="index.html">MAPSTRACTION</a></h1>
    <h2 id="subline">Javascript mapping abstraction library</h2>
    <ul id="menu" class="nav">
      <li><a href="/" title="Mapstraction - Home">home</a></li>
      <li><a href="/projects" title="Mapstraction - Projects">projects / plugins</a></li>
      <li><a href="http://wiki.github.com/mapstraction/mxn/" title="Home - mxn - GitHub">wiki</a></li>


      <li><a href="http://github.com/mapstraction" title="mapstraction's Profile - GitHub">github</a></li>

      <li>Stay informed:
        <span style="font-size:12px;">
          <br/><span style="padding-left:10px;"><a href="http://lists.mapstraction.com/listinfo.cgi/mapstraction-mapstraction.com" title="Mapstraction Mailing List">mailing list</a></span>

          <br/><span style="padding-left:10px;">Follow <a href="http://twitter.com/mapstraction">@mapstraction</a></span>
        </span>
      </li>

      <li>Offline resources:
        <br/><span style="font-size:12px;padding-left:10px;font-style:italic;"><a href="http://www.amazon.com/Map-Scripting-101-Example-Driven-Interactive/dp/1593272715/">Map Scripting 101</a></span>
      </li>
    </ul>

    <div id="content" class="section">
      {{ content }}
      </div>

    <div id="sidebar">
      <p>latest version: v2</p>
      <ul>
        <li><a href="http://mapstraction.appspot.com/" title="Mapstraction v2 API Sandbox">sandbox demo</a></li>
        <li><a href="http://github.com/mapstraction/mxn/downloads" title="mapstraction's mxn at master - GitHub">download</a></li>
      </ul>

      <p>previous (deprecated) versions</p>
      <ul>
        <li><a href="/v1" title="Mapstraction v1">v1</a></li>
      </ul>
      <p/>
    </div>

    <div id="footer">
      Development of Mapstraction has been made possible by the generous support of <a href="http://www.nestoria.com" title="Property and Homes Search by Nestoria">Nestoria</a>, the <a href="http://www.mercurynews.com/" title="Home - San Jose Mercury News">San Jose Mercury News</a>, <a href="http://www.mapquest.com" title="MapQuest Maps - Driving Directions - Map">MapQuest</a>, the <a href="http://www.latimes.com">Los Angeles Times</a>,and <a href="http://idelab.uva.es">IDELab</a>, and many helpful developers and users.		
      <p/>
    </div>
  </div>
<script src="http://www.google-analytics.com/urchin.js" type="text/javascript"></script>
<script type="text/javascript">_uacct = "UA-120494-9";// urchinTracker();</script>  
</body>
</html>
